body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-bg {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg {
	background: url('/assets/img/splash.jpg') no-repeat center center scroll;
    background-size: cover;
    padding: 100px 0;
}

.image-bg h1,
.image-bg h2,
.image-bg p,
.image-bg a,
.image-bg a:focus {
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.image-bg a:hover,
.image-bg a:active {
    color: #fff;
    text-decoration: underline;
}

.img-center {
	margin: 0 auto;
}

.logo {
    width: 200px;
}

section {
    padding-top: 75px;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

.navbar-inverse {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(149, 209, 200);
    border: none;
    height: 90px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover {
    border-bottom: 5px solid #fff;
}

.navbar-nav>li>a {
    padding: 0;
    padding-bottom: 5px;
    margin: 15px;
}

.navbar-social {
    font-size: 1.5em;
}

.navbar-logo {
    text-align: center;
    height: 0;
}

.navbar-logo img {
    height: 50px;
    display: none; /* main.js shows the logo */
}

.navbar-logo h2 {
    margin-top: 0px;
    color: #fff;
    font-weight: 800;
    display: none;
}

footer {
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

.join-circle {
    width: 100%;
    padding: 20px;
}

#top h2 {
    margin-top: 30px;
    color: white;

}

#register {
    text-align: center;
}

#register .step {
    padding: 0 35px;
    color: #fff;
}

#register .step > div {
    border-radius: 10px;
    background-color: rgb(149, 209, 200);
    padding: 10px;
}

#register .step h2 {
    font-size: 3em;
}

#register .step a {
    color: #fff;
    text-decoration: underline;
}

#register .step img {
    max-height: 300px;
    margin: 0 auto;
}

a.btn.btn-lg {
    font-size: 3em;
    background-color: rgb(149, 209, 200);
}

a.btn.btn-xlg {
    font-size: 5em;
    background-color: rgb(149, 209, 200);
}

#bass img {
    width: 100%;
}

